<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bestteamathackrice.guesshue" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Round"
            android:label="@string/title_activity_round"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bestteamathackrice.guesshue.MainActivity" />
        </activity>
        <activity
            android:name=".Approval"
            android:label="@string/title_activity_approval" >
        </activity>
        <activity
            android:name=".Score"
            android:label="@string/title_activity_score" >
        </activity>
        <activity
            android:name=".FinalScore"
            android:label="@string/title_activity_final_score" >
        </activity>
        <activity
            android:name=".HighScores"
            android:label="@string/title_activity_high_scores" >
        </activity>
    </application>

</manifest>
